@media (max-width: 499px) {
nav{
    margin-top: 2vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;

}
.burger-icon-container{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-icon{
    fill: var(--blueCivi);
    width: 20vw;
    cursor: pointer;
}
nav .logo-container{
    width: 20vw;
}
nav .logo-container img{
    width: 30vw;
}
nav .button-container{
    width: 24vw;
}

nav .button-container button{
    font-size: 44vw;
}
nav .button-container{
    display: flex;
    justify-content: center;
}
nav .button-container button {
    background-color: var(--pinkCivi);
    border: none;
    border-radius: 6vw;
    font-size: 3.8vw;
    color: var(--whiteCivi);
    width: 24vw;
    padding: 2vw;
}

}