@media (max-width: 499px) {

    .article-about{
        margin-top: 26vw;
    }
    .article-about .about-title h2{
        font-size: 6vw;
    }
    .article-about .about-title h2 img{
        width: 54vw;
    }
    .video-civi iframe{
        width: 88vw;
        height: 50vw;
    }
    .article-about .about-message-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 76vw;
        margin: 1vw 0 4vw;
    }
    .article-about  p{
        text-align: left;
        font-size: 3.4vw;
    }
    .quote-icon{

        width: 18vw;
        transform: rotate(0deg);
        margin: 1vw;
    }
}