nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    padding: 0 4%;
    user-select: none;
}
.logo-container {
    width: 12%;
}
.logo-container img{
    width: 100%;
}
.nav-elements{
    width: 60%;
    display: flex;
    justify-content: center;
}
.nav-elements ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 86%;
}
.nav-elements ul li {
    padding: 2% 4%;
    color: var(--blackCivi);
    font-size: 1.2vw;
    font-weight: bold;
}
.nav-elements ul li:hover{
    color: var(--blueCivi);
    cursor: pointer;
}
/* ---About Civi___ */
.nav-elements #element-1{
    display: flex;
    align-items: center;
    padding: 0%;
}
.nav-elements #element-1:hover{
    background-color: var(--blueCivi);
    color: var(--whiteCivi);
    transition: 0.3s;
}
.nav-elements #element-1 div{
    padding: 2% 4%;
}
nav #element-1 .icon-arrow{
    width: 30%;
    rotate: 180deg;
    transition: 0.3s;
    fill: var(--blackCivi);
}
nav #element-1:hover .icon-arrow{
    transform: rotate(180deg);
    fill: var(--whiteCivi);
}
.nav-elements #element-1 ul {
    background-color: var(--whiteCivi);
    position: absolute;
    width: 10.2vw;
    top: 100%;
    border-radius: 0px 0px 1.6vw 1.6vw;
    box-shadow: 0px 10px 10px rgba(78, 78, 78, 0.2);
    z-index: 1;
    left: 0;
    max-height: 0; /* Oculto por defecto */
    opacity: 0; /* Oculto por defecto */
    transform: translateY(-10px); /* Un ligero movimiento hacia arriba */
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    overflow: hidden; /* Para ocultar el contenido cuando no está visible */
}

.nav-elements #element-1:hover ul {
    max-height: 200px; /* Un valor lo suficientemente alto para el contenido */
    opacity: 1; /* Totalmente visible cuando está abierto */
    transform: translateY(0); /* Vuelve a su posición original */
}
.nav-elements #element-1 ul li{
    font-weight: normal;
    padding: 10% 6%;
}
.nav-elements #element-1 ul li:nth-child(1){
    border-bottom: 1px solid rgb(168, 168, 168);
}
.button-container{
    width: 14%;
    display: flex;
    align-items: center;
}
.button-container button{
    background-color: var(--pinkCivi);
    color: var(--whiteCivi);
    padding: 6%;
    border: 0.2em solid  var(--pinkCivi);
    border-radius: 1.2em;
    font-size: 1.2vw;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.button-container button:hover{
    background-color: var(--whiteCivi);
    color: var(--pinkCivi);
}
