nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    padding: 0 0vw;
    user-select: none;
    width: 75vw;
}

.logo-container {
    width: 12vw;
}

.logo-container img {
    width: 12vw;
    height: 6vw;
}

.nav-elements {
    width: 52vw;
    display: flex;
    justify-content: end;
}

.nav-elements ul {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    width: 86%;
}

.nav-elements ul li a{
    padding: 0.4vw 1vw;
    color: var(--blackCivi);
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
}

.nav-elements ul li a:hover {
    color: var(--blueCivi);
    cursor: pointer;
}

.nav-elements #element-1 {
    display: flex;
    align-items: center;
    padding: 0%;
}

.nav-elements #element-1:hover {
    background-color: var(--blueCivi);
    transition: 0.3s;
    color: var(--whiteCivi);
}

.nav-elements #element-1 div {
    padding: 2% 4%;
    width: 10.2vw;
    font-size: 1.2vw;
    color: var(--blackCivi);
    font-weight: bold;
}
.nav-elements #element-1 div:hover {
    color: var(--whiteCivi);
}

nav #element-1 .icon-arrow {
    width: 30%;
    rotate: 180deg;
    transition: 0.3s;
    fill: var(--blackCivi);
}

nav #element-1:hover .icon-arrow {
    transform: rotate(180deg);
    fill: var(--whiteCivi);
}

.nav-elements #element-1 ul {
    background-color: var(--whiteCivi);
    position: absolute;
    width: 10.2vw;
    top: 100%;
    border-radius: 0px 0px 1.6vw 1.6vw;
    box-shadow: 0px 10px 10px rgba(78, 78, 78, 0.2);
    z-index: 1;
    left: 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.nav-elements #element-1:hover ul {
    max-height: 8vw;
    opacity: 1;
    transform: translateY(0);
}

.nav-elements #element-1 ul li {
    font-weight: normal;
    padding: 10% 0%;
}

.nav-elements #element-1 ul li:nth-child(1) {
    border-bottom: 1px solid rgb(168, 168, 168);
}
.nav-elements #element-1 ul li a{
    display: flex;
    justify-content: center;
    width: 10vw;
    font-weight: normal;
}

nav .button-container {
    width: 10vw;
    display: flex;
    align-items: center;
}

nav .button-container button {
    background-color: var(--pinkCivi);
    color: var(--whiteCivi);
    padding: 0.4vw 0;
    border: 0.2em solid var(--pinkCivi);
    border-radius: 1.4vw;
    font-size: 1.2vw;
    font-weight: bold;
    width: 8vw;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

nav .button-container button:hover {
    background-color: var(--whiteCivi);
    color: var(--pinkCivi);
}