footer{
    background-color: var(--blueCivi);
    width: 90vw;
    margin: 2vw 5vw 0;
    border-radius: 2vw 2vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.footer-elements{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vw;
    width: 84vw;
}
.logo-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
}
.logo-footer-container img{
    width: 10vw;
    height: 10vw;
}
.element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42vw;
}
.element-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element-container ul li{
    list-style: none;
    margin: 0.6vw;
    cursor: pointer;

}
.element-container ul li a{
    color: var(--white);
    font-size: 1.4vw;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.6s;
}
.element-container ul li a:hover{
    color: var(--CelesteCivi);
}
.social-container{
    display: flex;
}
.social-container a>img{
    width: 4.2vw;
    height: 4.2vw;
    cursor: pointer;
}
.copyrigth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyrigth-container p{
    color: var(--white);
    font-size: 1.2vw;
}