.team-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.team-section .team-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vw;
}

.team-section .team-info h2{
 width: 28vw;
 font-size: 2.4vw;
}

.team-section .team-info p{
    width: 49vw;
    font-size: 1.1vw;
}

.team-members{
    display: grid;
    width: 76vw;
    height: auto;
    margin: 4vw 0;
}

.team-members_slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}