.carruselBox {
    background-color: var(--white);
    width: 22vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
    transition: all 0.5s ease;
    box-shadow: 0vw 2vw 1vw rgba(0, 0, 0, 0.1);
}

.carruselBox.active {
    opacity: 1;
}

.carruselBox.adjacent {
    transform: scale(0.8);
    /* opacity: 0.7; */
    height: 27vw;
    width: 22vw;
}
.box-img {
    width: 21.99vw;
    height: 20vw;
    background-color: aliceblue;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
    margin: 1vw 0;
}

.box-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 0.6vw;
    margin: 0 0vw;
}

.box-arrow .icon-arrow {
    fill: var(--white);
    width: 3vw;
    transform: rotate(90deg);
}

.box-content h3 {
    font-size: 1.2vw;
    color: var(--blackCivi);
    width: 16vw;
    margin: 0 1vw;
}

.carruselBox .description.active {
    color: var(--greyCivi);
    margin: 0vw 1vw 1vw 4vw;
    font-size: 1vw;
    transition: opacity 1s ease;
    width: 17vw;
}
.carruselBox .description.adjacent{
    opacity: 0;
    margin: 0vw;
    font-size: 0vw;
}