.article-home{
    background-color: var(--blueCiviOpa);
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin: 4vw 6vw;
    padding: 8vw 6vw;
    border-radius: 1vw;
    user-select: none;
}
.article-home div h1{
    padding: 1.2vw 0;
    font-size: 2.4vw;
}
.article-home div p{
    font-size: 1.1vw;
    width: 36vw;
}

.article-home div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 46vw;
    margin-right: 1vw;
}
.article-home div:nth-child(1) img{
width: 6vw;
}
.article-home div:nth-child(2){
    position: relative;
    width: 40vw;
    top: -4vw;
}

.article-home div:nth-child(2) div {
    background-image: url('./homeImg.jpg');
    width: 34vw;
    height: 38vw;
    border-radius: 1.2vw;
    background-position: center;
    position: absolute;
    background-size: cover;
    background-position-x: -7vw;
}

