.root{
    --blueCivi:       #7468e5;
    --blackCivi:      #4d4d4d;
    --whiteCivi:      #f2f2f2;
    --pinkCivi:       #ec5f7b;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    padding: 0 4%;
}

.logo-container {
    width: 12%;
}
.logo-container img{
    width: 100%;
}
.nav-elements{
    width: 52%;
}
.nav-elements ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-elements ul li {
    padding: 4%;
    color: var(--blackCivi);
    font-size: 1.2vw;
    font-weight: bold;
}

.nav-elements ul li:hover{
    color: var(--blueCivi);
    cursor: pointer;
}

.button-container button{
    background-color: var(--pinkCivi);
    color: var(--whiteCivi);
}